title {
  font-family: Roboto, sans-serif;
}
nav {
  font-family: Roboto, sans-serif;
}
p {
  font-family: Roboto, sans-serif;
}
button {
  font-family: Roboto, sans-serif;
}
div {
   font-family: 'PT Serif', serif;
}
  h1 {
    font-family: 'PT Serif', serif;
  }
